@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Reset */

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto';
	color: white;
	-webkit-tap-highlight-color: transparent;
}

html {
	overflow-x: hidden;
}

/* Utility Classes */

.display-none {
	display: none;
}

/* Temp */

img,
.material-symbols-outlined,
.material-symbols-rounded {
	user-select: none;
	-webkit-user-drag: none;

}

body {
	background-color: var(--dark-bgcolor-body);
	position: relative;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	background-color: transparent;
	width: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(130, 130, 130, 0.6);
}


/* Global Variables */

:root {
	--dark-bgcolor-nonbody: rgb(33, 33, 33);
	--dark-bgcolor-header: rgba(33, 33, 33, 0.98);
	--dark-bgcolor-body: rgb(24, 24, 24);

}

/* Splash Screen */

#splash-screen {
	pointer-events: none;
	z-index: 1001;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	min-height: 100%;
	min-width: 100%;
	justify-content: center;
	align-items: center;
	overflow: none;
	background-color: rgb(33, 33, 33);
	transition: 0.5s;
}

#splash-logo img {
	width: 100px;
}
