/* All Media Breakpoints */

/* 1550px to 3000px */

@media (min-width: 1550px) and (max-width: 3000px) {
	main {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	.video-card {
		max-width: 500px;
	}
}

/* 1100px */

@media (max-width: 1150px) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* 1000px */

@media (max-width: 1100px) {
	.search-bar input {
		width: 200px;
	}

	.video-page {
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;
	}

	.main-video-sidebar-wrap {
		margin-left: 0px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 730px;
		column-gap: 12px;
		width: 100%;
		max-width: 850px;
		row-gap: 14px;
	}

	.video-card-page {
		flex-direction: column;
		width: 100%;
		min-width: 220px;
	}

	.video-preview-page {
		width: 100%;
		height: unset;
	}

	.video-previewimg-page {
		width: 100%;
	}

	.channel-logo-page {
		display: flex;
	}

	.video-details-page {
		margin: 0;
		margin-top: 10px;
		margin-left: 14px;
	}
	.main-video-wrap {
		max-width: 850px;
	}
}

/* 900px */

@media (max-width: 950px) {
	.sidenav {
		display: none;
	}

	#hamburger-icon {
		display: none;
	}

	#hamburger-icon-responsive {
		display: flex;
	}

	.searchbar-mic-wrap {
		display: none;
	}

	.search-control {
		display: flex;
	}

	#navbar {
		left: -350px;
	}

	.interests {
		left: 0px;
		top: 48px;
	}

	main {
		margin-left: 0px;
	}
}

/* 850px */

@media (max-width: 850px) {
	main {
		grid-template-columns: 1fr 1fr;
	}


	.video-card {
		max-width: 400px;
	}

}

/* 700px */

@media (max-width: 750px) {
	.views-controls-wrap {
		flex-direction: column;
		align-items: flex-start;
	}
	.video-controls-page-wrap {
		overflow-x: scroll;
		overflow-y: hidden;
		max-width: 90vw;
	}
	.video-controls-page-wrap::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	.video-controls-page {
		display: flex;
		margin-top: 16px;
	    }
	    
	    .video-controls {
		margin: 0;
		flex-direction: column;
		margin: 0px 20px;
	    }
	    
	    .controls-icon {
		margin: 0;
		font-size: 28px;
		margin-bottom: 6px;
	    }
	    
	    .contols-text {
		font-size: 14px;
		font-weight: 400;
	    }
}

/* 550px */

@media (max-width: 550px) {
	header {
		background-color: rgba(33, 33, 33, 1);
		padding: 14px 10px;
		border-bottom: none;
	}

	.tooltip {
		display: none;
	}

	.hamburger {
		display: none;
	}

	#hamburger-icon-responsive {
		display: none;
	}

	.youtube-logo img {
		left: -22px;
	}

	.header-controls {
		flex-grow: 0;
		margin-right: 14px;
	}

	.create-control {
		display: none;
	}

	.controls {
		margin-right: 22px;
	}

	.cast-control,
	.search-control {
		display: flex;
	}

	.profile-img {
		margin: 0px -2px;
	}

	.profile-img img {
		width: 28px;
	}

	.interests {
		background-color: rgba(33, 33, 33, 1);
		padding: 10px 0px;
		padding-top: 4px;
		border-bottom: none;
		top: 55px;
	}

	.next_arrow {
		display: none;
	}

	.interest-cards {
		padding: 7px 14px;
		font-size: 13px;
	}

	.default-interest {
		margin-left: 16px;
	}

	.explore-interest {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 4px 10px;
		color: rgb(255, 255, 255, 0.98);
		font-size: 24px;
		background-color: rgb(255, 255, 255, 0.2);
		border-radius: 4px;
	}

	.explore-interest-text {
		display: flex;
		align-items: center;
		justify-content: center;
		vertical-align: middle;
		font-size: 14px;
		font-weight: 500;
		text-align: center;
		margin-top: 2px;
		color: rgb(255, 255, 255, 0.98);
		margin-left: 4px;
	}

	.sidenav {
		display: flex;
		bottom: 0px;
		top: unset;
		left: 0px;
		right: 0px;
		flex-direction: row;
		justify-content: space-between;
		width: auto;
		padding: 2px 26px;
		padding-bottom: 6px;
	}

	.sidenav-icon {
		padding: 4px 0px;
		font-size: 26px;
	}

	.sidenav-text {
		font-size: 10px;
		margin-top: 4px;
	}

	.default-sidenav {
		padding: 0px;
	}

	.download-sidenav,
	.playlist-sidenav,
	.ytmusic-sidenav,
	.originals-sidenav,
	.explore-sidenav {
		display: none;
	}

	.create-sidenav {
		display: flex;
		margin: 0px -12px;
	}

	.create-sidenav-icon {
		font-size: 36px;
	}

	.subscriptions-sidenav {
		margin: 0px -14px;
	}

	main {
		grid-template-columns: 1fr;
		padding: 0px 0px;
		padding-bottom: 80px;
		row-gap: 6px;
	}

	.video-details {
		margin-left: 10px;
	}

	.video-card {
		max-width: 100vw;
	}

	.video-name-stats-wrap {
		flex-direction: row;
		align-items: center;
		margin-top: 2px;
	}

	.channel-name-verified-wrap,
	.video-stats-wrap {
		margin: 0px;
	}

	.verified-icon {
		font-size: 12px;
		margin-left: 3px;
	}

	.more-info {
		display: flex;
		justify-content: center;
		margin-right: 2px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		text-align: center;
		align-items: center;
		vertical-align: middle;
		opacity: 1;
		border: 1px solid transparent;
		transition: 0.5s;
	}

	.more-info:active {
		background-color: rgba(255, 255, 255, 0.2);
		border-color: rgba(255, 255, 255, 0.2);
	}

	.mobile-middot {
		display: inline-flex;
	}

	/* Video Page */

	.video-page {
		padding: 0;
		margin-top: 60px;
	}
	.video-frame {
		border-bottom-width: 2px;
	}
	.video-channel-page {
		border-bottom-width: 2px;
	}

	.main-video-sidebar-wrap {
		grid-template-columns: 1fr;
		padding-top: 0px;
	}
	.interests-page {
		display: none;
	}
	.video-card-page {
		margin-top: 60px;
		max-width: 100vw;
	}
	.video-controls-page-wrap {
		max-width: 98vw;
	}
	.video-controls {
		font-size: 26px;
		margin: 0px 20px;
	}
	.controls-icon {
		font-size: 26px;
	}
	.contols-text {
		font-size: 13px;
	}
	.video_page-title {
		font-size: 16px;
		margin-left: 18px;
	}
	.views-date-wrap {
		margin-left: 18px;
	}
	.first-page-nav {
		margin-left: 36px;
	}
	.video_page-views,
.video_page-view-ex,
.date-added-page {
	font-size: 12px;
}
	.video-channel-page {
		padding: 12px 10px;
		margin-bottom: 0px;
	}
	.channel_page-section {
		margin-left: 8px;
	}
	.channel_page-name-wrap {
		margin-left: 10px;
	}
	.channel_page-logo {
		width: 40px;
		height: 40px;
	}
	.subscribe-btn {
		background-color: transparent;
		color: rgb(204, 0, 0);
	}
	.video-comments-page {
		border-bottom: 3px solid rgba(255, 255, 255, 0.2);
		padding: 12px 18px;
	}
	.total-comments-sort {
		font-size: 14px;
	}
	.sort-comments {
		display: none;
	}
	.user-icon-comment {
		width: 30px;
		height: 30px;
	}
	.add-comment-wrap {
		padding: 12px 0px;
		padding-bottom: 16px;
	}


	.video-name-stats-wrap-page {
		flex-direction: row;
		margin-top: 2px;
	}
	.channel-name-verified-wrap-page {
		margin: 0;
	}
	.video-stats-wrap-page {
		margin: 0;
	}
	.mobile-middot-page {
		display: flex;
	}
	.video-card-page {
		margin-top: 2px;
		margin-bottom: 6px;
	}
}