/* SideNavBar Fixed */

.sidenav {
	width: 40px;
	position: fixed;
	top: 53px;
	left: 0px;
	padding: 20px 18px;
	display: flex;
	white-space: nowrap;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--dark-bgcolor-nonbody);
	z-index: 10;
}

.sidenavs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	cursor: pointer;
}


.selected-sidenav {
	font-variation-settings:
		'FILL' 1
}

.sidenav-icon {
	font-size: 26px;
	padding: 15px 0px;
}

.default-sidenav {
	padding-top: 0px;
}

.create-sidenav {
	display: none;
}

.sidenav-text {
	font-size: 10px;
	margin-top: 5px;
}